* {
  font-family: "Courier New", Courier, monospace;
  padding: 0;
  margin: 0;
  letter-spacing: -0.5px;
}

body {
  color: #131313;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 1rem;
}

.container {
  padding: 30px;
  width: 100%;
  max-width: 600px;
  border: rgba(0, 0, 0, 0.5) dashed 2px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #1a1a1a;
}

.detail-group {
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  margin: 5px 0;
}

strong {
  color: #000000;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #050505;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #333;
}

a.back-link {
  display: inline-block;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
  color: #050505;
  border: 2px solid #050505;
  padding: 8px;
  font-size: 0.9rem;
  font-weight: bold;
}

a.back-link:hover {
  background-color: #050505;
  color: white;
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
}
